body, ul, li, dl, dt, dd, p, h1, h2, h3, h4, span, form, img, div, option, input, button, checkbox {
	border: none;
	margin: 0;
	padding: 0;
	outline: 0 none;
	font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

.commonContainer {
	color: #404040;
	background-color: #f0f0f0;
}

img {
	display: block;
	/* pointer-events: none; */
}

/* 禁止长按链接与图片弹出菜单 */

a, img {
	-webkit-touch-callout: none;
}

/* 禁止选中文本（如无文本选中需求，此为必选项） */

html, body {
	font-size:13px;
	-webkit-user-select: none;
	user-select: none;
}
input[type=button]{
	-webkit-appearance:none;
	outline:none
}

input:disabled{
	background-color: #fff;
	opacity: 1;
}
::-webkit-input-placeholder,
input:disabled::-webkit-input-placeholder { 
	color:#999;
}
* {
	margin: 0px;
	padding: 0px;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

a, button, input[type='button'] {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hidden {
	display: none;
}

.clr {
	clear: both;
}

.clr:after {
	content: ' ';
	display: block;
	clear: both;
}

.conTxtToDot {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.width100 {
	width: 100%;
}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

.clear {
	zoom: 1;
}

.margin {
	margin: 0 auto;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.scroll {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.text-center {
	text-align: center;
}

.arrow {
	position: relative;
}

.arrow:after {
	content: " ";
	display: inline-block;
	height: 6px;
	width: 6px;
	border-width: 2px 2px 0 0;
	border-color: #E3594F;
	border-style: solid;
	transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -4px;
}
